/* General
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
*/
body{
    font-family: $basefont;
} //body

.bg-base{
    background: $basecolor;
    color: $white;
} //.bg-base

.btn, .menu a{
    background: $white;
    border: 4px solid $basecolor;
    border-radius: 25px;
    color: $basecolor;
    display: inline-block;
    font-weight: 700;
    padding: 0.5em 1em;

    &:hover{
        background: $basecolor;
        color: $white;
    }
} //.btn

.entry{
    p{
        @include font-size(18);
    } //p

} //.entry

.section{
    padding: 8em 0;
} //.section

.section-large{
    padding: 16em 0;
} //.section-large

.text-center{
    text-align: center;
} //.text-center


/* Header
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
*/
.head{
    padding: 2em 0;
    position: relative;

    & > .container{
        @include breakpoint(junior){
            position: relative;
        }
    }
} //.head

.logotipo{
    max-width: 120px;
} //.logotipo

.main-menu-wrapper{
    position: absolute;
    right:15px;
    top:50%;
    transform: translateY(-50%);
} //.main-menu-wrapper

.menu{
    list-style-type: none;
} //.menu

/* Hero
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
*/
.hero{
    text-align: center;
    box-sizing: border-box;

    p{
        @include font-size(18);

        @include breakpoint(junior){
            @include font-size(21);
        }
    } //p

    .entry{
        margin-bottom: 6em;

        @include breakpoint(intern){
            margin: 0 auto 6em;
            width: 70%;
        }

        @include breakpoint(junior){
            width: 90%;
        }

        p{
            @include breakpoint(junior){
                margin: 0 auto;
                width: 70%;
            }
        }
    } //.entry

} //.hero

.profile-img{
    margin: 0 auto;
    width: 200px;

    img{
        border-radius: 50%;
        height: auto;
    }
} //.profile-img

/* Presenting
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
*/
.presenting{
    .entry{
        @include breakpoint(intern){
            margin: 0 auto;
            width: 70%;
        }

        p{
            line-height: 2em;
        }
    }
} //.presenting

/* Skills
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
*/
.skill-content{
    border-bottom: 1px solid $lightergrey;
    margin-bottom: 8em;
    padding-bottom: 8em;

    @include breakpoint(intern){
        margin: 0 auto 6em;
        width: 70%;
    }

    @include breakpoint(junior){
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
        width: 90%;
    }

    h2{
        @include font-size(24);

        @include breakpoint(junior){
            margin-bottom: 1.5em;
        }
    } //h2

    h3{
        color: $basecolor;
        @include font-size(18);
    }

    img{
        max-height: 48px;
        width: auto;

        @include breakpoint(junior){
            margin-bottom: 2em;
        }
    } //img

    ul{
        list-style-type: none;
    }

    p, li{
        @include breakpoint(junior){
            @include font-size(16);
        }
    }

} //.skill-content

.skills{
    .col-md-4{
        &:last-child{
            .skill-content{
                border-bottom: none;
            }
        }
    }
}

/* Projects
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
*/
.projects{
    .entry{
        @include breakpoint(intern){
            margin-bottom: 6em;
        }

        p{
          @include breakpoint(intern){
              margin: 0 auto;
              width: 70%;
          }  

        } //p

    } //.entry

} //.projects

.project{
    border-radius: 10px;
    margin-bottom: 8em;

    h3{
        font-weight: 400;
        margin: 1em auto;
        @include font-size(21);

        @include breakpoint(intern){
            width: 60%;    
        }

        @include breakpoint(junior){
            width: 80%;
        }

    } //h3

    img{
        border-radius: 10px;
    }

} //.project

.project-content{
    @include breakpoint(junior){
        background: darken($basecolor, 20%);
        color: $white;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top:0;
        transition: 0.4s all ease-out;
        width: 100%;
    }

    .btn{
        @include breakpoint(junior){
            background: transparent;
            color: $white;

            &:hover{
                background: $basecolor;
            }

        }

    } //.btn

    .content-wrapper{
        @include breakpoint(junior){
            left:0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
    } //.content-wrapper
     
} //.project-content

.project-wrapper{
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    &:hover{
        .project-content{
            opacity: 1;
        }
    }
} //.project-wrapper

/* Clients
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
===================================================
*/
.clients{
    .client{
        min-height: 100px;

        img{
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .entry{
        margin-bottom: 12em;

        h2{
            @include font-size(28);
        } //h2

    } //.entry

} //.clients